*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}


body {
  box-sizing: border-box;
}

/* body div {
  border: 1px solid black;
} */

.red {
  height: auto;
  background-color: rgb(200, 50, 50, 0.4);
}

.blue {
  height: auto;
  background-color: rgb(34, 73, 132, 0.4);
}

.orange {
  height: auto;
  background-color: rgb(241, 194, 50, 0.4);
}

.violet {
  background-color: rgb(125, 60, 181, 0.4);
}

.grey {
  background-color: rgb(52, 120, 152, 0.4);
}

.green {
  background-color: rgb(45, 132, 70, 0.4);
}





.team-block-wrapper-header {


  margin: 0 auto;
  width: 1400px;

}

.team-block-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
}

.regulate-width-block-header {
  width: 135px;
}

.team-block-name-header {
  width: 150px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 10 0 0 10;
  background-color: rgb(207, 45, 122, 0.4);
}

/* .team-performance-stats {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.team-statistic-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  text-align: center;
  font-size: 13px;
  text-wrap: wrap;
  line-height: normal;
  font-weight: 700;
}

.team-block-rating-header {
  width: 55px;
  height: 58px;
  padding: 1px 4px;
  /* height: 60px; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: rgb(220, 90, 30, 0.4);
  border-radius: 0 10 10 0;
}

.position-header {
  height: auto;
  border-color: white;
  background-color: rgb(85, 188, 202, 0.2);
}

.team-statistics-numbers-block-header {
  display: flex;
  flex-direction: row;
  /* width: 319px; */
  width: 1000px;
  justify-content: space-around;
}

/* For tablet devices */
@media (max-width: 1024px) {}

@media (max-width: 768px) {}